<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysOrderMapper">
    
    <resultMap type="SysOrder" id="SysOrderResult">
        <result property="id"    column="id"    />
        <result property="goodsList"    column="goods_list"    />
        <result property="address"    column="address"    />
        <result property="contact"    column="contact"    />
        <result property="phone"    column="phone"    />
        <result property="status"    column="status"    />
        <result property="shopId"    column="shop_id"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectSysOrderVo">
        select id, goods_list, address, contact, phone, status, shop_id, user_id, create_time from sys_order
    </sql>

    <select id="selectSysOrderList" parameterType="SysOrder" resultMap="SysOrderResult">
        <include refid="selectSysOrderVo"/>
        <where>  
            <if test="goodsList != null  and goodsList != ''"> and goods_list  like concat('%', #{goodsList}, '%')</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="contact != null  and contact != ''"> and contact = #{contact}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectSysOrderById" parameterType="Long" resultMap="SysOrderResult">
        <include refid="selectSysOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysOrder" parameterType="SysOrder" useGeneratedKeys="true" keyProperty="id">
        insert into sys_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsList != null">goods_list,</if>
            <if test="address != null">address,</if>
            <if test="contact != null">contact,</if>
            <if test="phone != null">phone,</if>
            <if test="status != null">status,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsList != null">#{goodsList},</if>
            <if test="address != null">#{address},</if>
            <if test="contact != null">#{contact},</if>
            <if test="phone != null">#{phone},</if>
            <if test="status != null">#{status},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSysOrder" parameterType="SysOrder">
        update sys_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsList != null">goods_list = #{goodsList},</if>
            <if test="address != null">address = #{address},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="status != null">status = #{status},</if>
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysOrderById" parameterType="Long">
        delete from sys_order where id = #{id}
    </delete>

    <delete id="deleteSysOrderByIds" parameterType="String">
        delete from sys_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>